# Dependencias
node_modules/
dist/

# Variables de entorno - NUNCA commitear
.env
.env.local
.env.*.local
.env.bak*
*.bak

# Datos reales del CDMC - NUNCA commitear
seed_data.sql

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
*.tsbuildinfo

# Claude Code
.claude
seed_maestro.sql
